/* Empty file for template. Remember to edit only this file and not the HTML file */

/* Nasalization Font */

/* Everything */
* {
    font-family: "Courier New", Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(images/star-background.jpg);
}

div.page-wrapper {
    position: relative;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    background-image: url(images/solarsystem.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

[title~="Cascading Style Sheets"] {
    font-size: 20px;
    color: rgb(225, 0, 86);
    text-decoration: underline;
}

/* General Elements */
p {
    line-height: 1.6em;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

a:visited {
    color: rgb(198, 198, 198);
}

a:active {
    color: rgb(255, 0, 0);  
}

a:link {
    color: rgb(32, 186, 32);
}

a:hover {
    text-decoration: underline;
}

li {
    color: white;
    margin-bottom: 8px;
}

h1, h2, h3 {
    font-weight: bold;
    font-size: 25px;
    line-height: 1.2em;
    color: rgb(255, 255, 255);
}

/* The intro, the preamble, the Declaration of CSS Design */
.intro {
    width: 100%;
}

header {
    display: flexbox;
    align-content: center;
    background-image: url(images/astronaut.png);
    background-repeat: no-repeat;
    background-position: top left;
    height: 150px;
    width: 100%;
    text-indent: 300px;
    border: 4px white solid;
    border-radius: 20px;
    margin: 0;
}

header > h1 {
    font-size: 60px;
    margin-bottom: 0;
    line-height: 50%;
}

header h2:last-child {
    font-size: 40px;
    line-height: 80%;
}

#zen-summary {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    width: 100%;
    position: relative;
    border-radius: 20px;
}

#zen-summary {
    padding: 3px;
}

#zen-summary [href="/examples/index"] {
    text-decoration: dotted underline;
    color: #ff0000;
    font-size: 18px;
}

#zen-summary a:last-of-type {
    text-decoration: dotted underline;
    color: #a7a4ff;
    font-size: 18px;
}

.preamble {
    background-image: url(images/satellite.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50%;
}

.preamble p {
    margin-right: 50%;
}

.preamble h3 {
    margin-top: 600px;
}

/* All-encompassing article text */
.main.supporting {
    position: absolute;
    margin-left: 0px;
    margin-right: 375px;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid green;
}

#zen-supporting[role] p:active {

}

#zen-supporting h3 {
    text-align: center;
    font-size: 35px;
    line-height: 200%;
    text-wrap: wrap;
    margin-left: 45%;
}

#zen-supporting p {
    text-indent: 10%;
}

.main.supporting div:first-child {
    background-image: url(images/earth.png);
    background-repeat: no-repeat;
    background-position: top -7px left;
    background-size: 40%;
}

.explanation > h3:first-of-type {
    padding-top: 6%;
    margin-bottom: 15%;
    line-height: 0%;
}

#zen-supporting div:nth-child(2) {
    background-image: url(images/mars.png);
    background-repeat: no-repeat;
    background-position: top left 25px;
    background-size: 35%; 
}

.participation > h3 {
    padding-top: 10%;
    margin-bottom: 20%;
    line-height: 0%;
}

#zen-supporting div:nth-last-child(3) {
    background-image: url(images/saturn.png);
    background-repeat: no-repeat;
    background-position: top -40px left -50px;
    background-size: 80%; 
}

.benefits > h3 {
    padding-top: 10%;
    margin-bottom: 20%;
    line-height: 0%;
    margin-right: -10%;
}

.requirements {
    background-image: url(images/uranus.png);
    background-repeat: no-repeat;
    background-position: top left 30px;
    background-size: 45%; 
}

.requirements > h3 {
    padding-top: 16.5%;
    margin-bottom: 15%;
    line-height: 0%;
}

/* See all that at the side? Those links and the like? */
aside {
    position: absolute;

    padding: 15px; /* Padding makes the box. But you need to put things like background-color to see it*/
    background-color: #000000;
    box-shadow: inset;
    border-radius: 15px;
    margin-left: 645px;

    border: 2px solid green;
}

aside > div > div {
    border: 2px solid white;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
}

aside h3 {
    border-bottom: 0;
    padding-left: 7.5%;
}

aside li a {
    text-decoration: none;
    color: #00ff00;
    font-size: 15px;
}

aside li a:nth-child(2) {
    color: #fff700;
    font-size: 15px;
}

/* And this is at the bottom */
/* #zen-supporting {
    background-image: url(images/CityLandscape.png);
}*/