/* Empty file for template. Remember to edit only this file and not the HTML file */

/* Keyframes */
@keyframes oscillate {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/* -- Everything --*/
* {
    font-family: "Courier New", Courier, monospace;
}

:root {
    margin: 0;
    padding: 0;
    background-image: url(images/star-background.jpg);
}

div.page-wrapper {
    position: relative;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto; /* Personal note: keeping these auto keeps the page centered */

    background-image: url(images/solarsystem.jpg);
    background-repeat: no-repeat;
    background-position: center 45%;
    background-size: 80%;
}



/* -- General Elements --*/
p {
    line-height: 1.6em;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

p:active, h3:active {
    color: rgb(170, 170, 170);
    transition: color 0.1s ease;
}

::selection { /* When text is highlighted */
    background: rgb(32, 186, 32);
    color: black;
}

a:visited {
    color: rgb(198, 198, 198);
}

a:active { /* When link is clicked */
    color: rgb(112, 112, 112);  
}

a:focus { /* When link is currently being tabbed to */
    text-decoration: underline;
    font-weight: bold;
}

a:link {
    color: rgb(21, 195, 21);
}

a:hover {
    text-decoration: underline;
}

li {
    color: rgb(255, 255, 255);
    margin-bottom: 8px;
}

h1, h2, h3:only-of-type {
    line-height: 1.2em;
    color: rgb(255, 255, 255);
}



/*  -- Introduction Containers -- */

/* The header at the top */
[class][class="intro"] > header {
    align-content: center;
    background-image: url(images/astronaut.png);
    background-repeat: no-repeat;
    background-position: top left;
    height: 150px;
    width: 100%;
    text-indent: 300px;
    border: 4px white solid;
    border-radius: 20px;
    margin: 0;
}

header > h1 { /* "CSS Zen Garden" */
    font-size: 60px;
    margin-bottom: 0;
    line-height: 50%;
}

header h2:last-child { /* "The Beauty of CSS Design" */
    font-size: 35px;
    line-height: 80%;
    letter-spacing: 2px;
}

header + div { /* Box directly below headings */
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    width: 97%; /* This looks kinda strange.. this is needed to align the right side of the boxes.*/
    position: relative;
    border-radius: 20px;
    margin-top: -4px;
    margin-bottom: 50%;
}

/* Below are recoloring for html and css file links in heading */
#zen-summary a[href$="/index"] {
    text-decoration: dotted underline;
    color: #ff0000;
    font-size: 18px;
}
#zen-summary a:last-of-type {
    text-decoration: dotted underline;
    color: #a7a4ff;
    font-size: 18px;
}



/* -- The Road to Enlightenment paragraph -- */
.intro .preamble { /*Just here to add some space btwn preamble and article text */
    margin-bottom: 50px
}

.preamble::after {
    content: '';
    position: absolute;
    top: 35%;
    left: 25%;
    width: 100%;
    height: 100%;
    background-image: url(images/satellite.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;

    animation: oscillate 4s ease-in-out infinite;
}

.preamble :not(abbr) {
    margin-right: 50%;
}

.preamble h3::first-line {
    font-size: 30px;
    font-weight: bold;
}

/* Abbreviation decorations */
.preamble p:first-of-type > abbr, .preamble P:nth-of-type(2) > abbr {
    text-decoration: underline;
    cursor: help;
}

.preamble p:nth-last-of-type(1) { /* Reduce extra space below the preamble */
    margin-bottom: 0;
}

header ~ div { /* Container directly below header */
    padding: 15px;
}



/* -- All-encompassing article text -- */
.main.supporting { /* Entire Container of article text */
    position: absolute;
    margin-left: 0px;
    margin-right: 375px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid green;
}

#zen-supporting h3 { /* General CSS for the headings of each section */
    text-align: center;
    font-size: 35px;
    line-height: 200%;
    text-wrap: wrap;
    margin-left: 45%;
}

#zen-supporting p::first-letter { /* Indent */
    padding-left: 10%;
}

/* For each section below, the CSS of the section is listed, then the CSS for the section's heading */
/* Explanation: So What Is This About? */
.main.supporting div:first-child::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 1230px;
    right: 160px;
    z-index: -1;

    background-image: url(images/earth.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;

    animation: oscillate 4s ease-in-out infinite;
}

.explanation > h3:first-of-type {
    padding-top: 10%;
    margin-bottom: 10%;
    line-height: 0%;
}

/* Participation */
#zen-supporting div:nth-child(2)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 600px;
    right: 160px;
    z-index: -1;

    animation: oscillate 4s ease-in-out infinite;

    background-image: url(images/mars.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%; 
}


.participation h3 {
    padding-top: 10%;
    margin-bottom: 20%;
    line-height: 0%;
}

/* Benefits */
#zen-supporting div:nth-last-child(3)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 85px;
    right: 110px;
    z-index: -1;

    animation: oscillate 4s ease-in-out infinite;

    background-image: url(images/saturn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.benefits > h3 {
    padding-top: 15%;
    margin-bottom: 12%;
    line-height: 0%;
    margin-right: -15%;
}

/* Requirements */
.requirements::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 515px;
    right: 150px;
    z-index: -1;

    animation: oscillate 4s ease-in-out infinite;

    background-image: url(images/uranus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%; 
}

.requirements > h3 {
    padding-top: 16.5%;
    margin-bottom: 15%;
    line-height: 0%;
} 



/* -- Sidebar -- */
aside {
    position: absolute;

    padding: 15px; 
    box-shadow: inset;
    border-radius: 15px;
    margin-left: 645px;

    border: 2px solid green;
}

/* White border above each section in the sidebar */
aside > div > div {
    border-top: 4px solid white;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
}

/* Header padding */
aside h3 {
    border-bottom: 0;
    padding-left: 7.5%;
}

/* Makes the green arrow before each heading in the sidebar */
aside [class~=select]::before, 
aside [class|=archives]::before,
aside [class^=reso]::before {
    content: "►  ";
    color: #00ff00;
    font-size: 15px;
    font-size: 15px;
}

/* Makes design links green */
aside li a {
    text-decoration: none;
    color: #00ff00;
    font-size: 15px;
}

/* Makes author links yellow */
aside li a:nth-child(2) {
    color: #fff700;
    font-size: 15px;
}

/* Makes Archives and Resources text red */
[role*="navigation"] ul li a:only-child, .zen-resources ul li a:only-child {
    color: rgb(255, 0, 0);
    font-size: 15px;
}



/* -- Extra effects with empty divs --  */
/* Asteroids */

:empty[class="extra1"]::after {
    content: ''; 
    position: absolute;
    top: 2100px;
    right: 3vw;
    width: 300px;
    height: 300px;
    background-image: url(images/asteroid.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;

    animation: rotate 25s linear infinite;
}

:empty[class="extra2"]::after {
    content: ''; 
    position: absolute;
    top: 2500px;
    right: 23vw;
    width: 200px;
    height: 200px;
    background-image: url(images/asteroid2.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;

    animation: rotate 25s linear infinite;
}

:empty[class="extra3"]::after {
    content: ''; 
    position: absolute;
    top: 3400px;
    right: 20vw;
    width: 300px;
    height: 300px;
    background-image: url(images/asteroid4.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;

    animation: rotate 25s linear infinite;
}

:empty[class="extra4"]::after {
    content: ''; 
    position: absolute;
    top: 3700px;
    right: 0vw;
    width: 300px;
    height: 300px;
    background-image: url(images/asteroid3.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;

    animation: rotate 25s linear infinite;
}

/* Tethered Astronaut */
:empty[class="extra5"]::after {
    content: ''; 
    position: absolute;
    top: 2650px;
    left: 47.5%;
    width: 900px;
    height: 900px;
    background-image: url(images/tetheredastronaut.png);
    background-size: 62.5%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -3;

    animation: oscillate 4s ease-in-out infinite;
}



/* Making pictures disappear when screen size is too small to allocate them */
@media screen and (max-width: 900px){
    :empty[class^="extra1"]::after, 
    :empty[class^="extra4"]::after, 
    :empty[class^="extra5"]::after {
        display: none;
    }
}

@media screen and (max-width: 1200px){
    :empty[class^="extra2"]::after, 
    :empty[class^="extra3"]::after {
        display: none;
    }
}